<template>
  <div class="flex">
    <!-- Backdrop -->
    <div
      :class="isOpen ? 'block' : 'hidden'"
      @click="isOpen = false"
      class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"
    ></div>
    <!-- End Backdrop -->

    <div
      :class="isOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'"
      class="fixed z-30 inset-y-0 left-0 w-64 transition duration-300 transform bg-gray-900 overflow-y-auto lg:translate-x-0 lg:static lg:inset-0"
    >
      <div class="flex items-center justify-center mt-8">
        <div class="flex items-center">
          <svg
            class="h-12 w-12"
            viewBox="0 0 512 512"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M364.61 390.213C304.625 450.196 207.37 450.196 147.386 390.213C117.394 360.22 102.398 320.911 102.398 281.6C102.398 242.291 117.394 202.981 147.386 172.989C147.386 230.4 153.6 281.6 230.4 307.2C230.4 256 256 102.4 294.4 76.7999C320 128 334.618 142.997 364.608 172.989C394.601 202.981 409.597 242.291 409.597 281.6C409.597 320.911 394.601 360.22 364.61 390.213Z"
              fill="#4C51BF"
              stroke="#4C51BF"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M201.694 387.105C231.686 417.098 280.312 417.098 310.305 387.105C325.301 372.109 332.8 352.456 332.8 332.8C332.8 313.144 325.301 293.491 310.305 278.495C295.309 263.498 288 256 275.2 230.4C256 243.2 243.201 320 243.201 345.6C201.694 345.6 179.2 332.8 179.2 332.8C179.2 352.456 186.698 372.109 201.694 387.105Z"
              fill="white"
            />
          </svg>

          <span class="text-white text-2xl mx-2 font-semibold">Sofahut</span>
        </div>
      </div>

      <nav class="mt-10">
        <router-link
          class="flex items-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Dashboard' ? activeClass : inactiveClass]"
          to="/dashboard"
        >
          <svg
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 10C2 5.58172 5.58172 2 10 2V10H18C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10Z"
              fill="currentColor"
            />
            <path
              d="M12 2.25195C14.8113 2.97552 17.0245 5.18877 17.748 8.00004H12V2.25195Z"
              fill="currentColor"
            />
          </svg>

          <span class="mx-4">Dashboard</span>
        </router-link>

        <router-link
          class="flex items-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Products' ? activeClass : inactiveClass]"
          to="/products"
        >
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 512.01 512.01">
            <path
              d="m475.695 512.01-16.9-405.579h-69.287v-25.705c.001-44.513-36.213-80.726-80.726-80.726s-80.726 36.213-80.726 80.726v25.706h-69.286l-4.653 111.516h-117.802v294.009zm-166.917-30v-32.6h134.282l1.358 32.6zm-50.722-401.284c0-27.97 22.756-50.726 50.726-50.726s50.726 22.755 50.726 50.726v25.706h-101.452zm-70.511 55.705h40.511v28.138h30v-28.138h101.452v28.138h30v-28.138h40.51l11.792 282.979h-133.032v-201.463h-124.634zm-55.619 111.516h81.241v34.703c0 22.398-18.222 40.62-40.621 40.62-22.398 0-40.62-18.222-40.62-40.62zm146.852 234.009h-212.463v-234.009h35.611v34.703c0 38.94 31.68 70.62 70.621 70.62 38.94 0 70.62-31.68 70.62-70.62v-34.703h35.611z"
            />
          </svg>

          <span class="mx-4">Products</span>
        </router-link>

        <router-link
          class="flex items-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === 'Orders' ? activeClass : inactiveClass]"
          to="/orders"
        >
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 512 512">
            <g>
              <path d="m327.276 275.429h30v30h-30z" />
              <path d="m258.215 275.429h30v30h-30z" />
              <path d="m189.152 275.429h30v30h-30z" />
              <path
                d="m512 118.286c0-65.223-53.062-118.286-118.286-118.286-47.587 0-88.694 28.25-107.448 68.857h-181.948l-6.886-68.857h-97.432v30h70.282l4.306 43.054 27.4 274.005c-19.27 6.751-33.131 25.11-33.131 46.655 0 27.255 22.174 49.428 49.429 49.428h23.208c-2.561 5.967-3.984 12.534-3.984 19.429 0 27.255 22.173 49.429 49.428 49.429s49.429-22.174 49.429-49.429c0-6.894-1.423-13.461-3.984-19.429h81.665c-2.561 5.967-3.984 12.534-3.984 19.429 0 27.255 22.174 49.429 49.429 49.429s49.429-22.174 49.429-49.429c0-6.894-1.423-13.461-3.984-19.429h36.777v-30h-323.429c-10.713 0-19.429-8.715-19.429-19.428s8.716-19.429 19.429-19.429h323.432l15.633-156.33c32.84-21.04 54.649-57.855 54.649-99.669zm-325.063 363.714c-10.713 0-19.428-8.716-19.428-19.429s8.715-19.428 19.428-19.428 19.429 8.715 19.429 19.428-8.716 19.429-19.429 19.429zm172.554 0c-10.713 0-19.429-8.716-19.429-19.429s8.716-19.428 19.429-19.428 19.429 8.715 19.429 19.428-8.716 19.429-19.429 19.429zm34.223-452c48.682 0 88.286 39.605 88.286 88.286s-39.604 88.286-88.286 88.286c-48.681 0-88.285-39.605-88.285-88.286s39.604-88.286 88.285-88.286zm20.853 314.286h-282.707l-24.542-245.429h169.715c-1.049 6.324-1.604 12.812-1.604 19.429 0 65.223 53.063 118.286 118.285 118.286 11.11 0 21.865-1.542 32.067-4.419z"
              />
              <path
                d="m451.125 100.518-21.213-21.213-46.142 46.142-26.254-26.253-21.213 21.213 47.467 47.467z"
              />
            </g>
          </svg>

          <span class="mx-4">Orders</span>
        </router-link>

        <router-link
          class="flex items-center duration-200 mt-4 py-2 px-6 border-l-4"
          :class="[$route.name === '' ? activeClass : inactiveClass]"
          to="/users"
        >
          <svg class="h-5 w-5" fill="currentColor" viewBox="-42 0 512 512.002">
            <path
              d="m210.351562 246.632812c33.882813 0 63.222657-12.152343 87.195313-36.128906 23.972656-23.972656 36.125-53.304687 36.125-87.191406 0-33.875-12.152344-63.210938-36.128906-87.191406-23.976563-23.96875-53.3125-36.121094-87.191407-36.121094-33.886718 0-63.21875 12.152344-87.191406 36.125s-36.128906 53.308594-36.128906 87.1875c0 33.886719 12.15625 63.222656 36.132812 87.195312 23.976563 23.96875 53.3125 36.125 87.1875 36.125zm0 0"
            />
            <path
              d="m426.128906 393.703125c-.691406-9.976563-2.089844-20.859375-4.148437-32.351563-2.078125-11.578124-4.753907-22.523437-7.957031-32.527343-3.308594-10.339844-7.808594-20.550781-13.371094-30.335938-5.773438-10.15625-12.554688-19-20.164063-26.277343-7.957031-7.613282-17.699219-13.734376-28.964843-18.199219-11.226563-4.441407-23.667969-6.691407-36.976563-6.691407-5.226563 0-10.28125 2.144532-20.042969 8.5-6.007812 3.917969-13.035156 8.449219-20.878906 13.460938-6.707031 4.273438-15.792969 8.277344-27.015625 11.902344-10.949219 3.542968-22.066406 5.339844-33.039063 5.339844-10.972656 0-22.085937-1.796876-33.046874-5.339844-11.210938-3.621094-20.296876-7.625-26.996094-11.898438-7.769532-4.964844-14.800782-9.496094-20.898438-13.46875-9.75-6.355468-14.808594-8.5-20.035156-8.5-13.3125 0-25.75 2.253906-36.972656 6.699219-11.257813 4.457031-21.003906 10.578125-28.96875 18.199219-7.605469 7.28125-14.390625 16.121094-20.15625 26.273437-5.558594 9.785157-10.058594 19.992188-13.371094 30.339844-3.199219 10.003906-5.875 20.945313-7.953125 32.523437-2.058594 11.476563-3.457031 22.363282-4.148437 32.363282-.679688 9.796875-1.023438 19.964844-1.023438 30.234375 0 26.726562 8.496094 48.363281 25.25 64.320312 16.546875 15.746094 38.441406 23.734375 65.066406 23.734375h246.53125c26.625 0 48.511719-7.984375 65.0625-23.734375 16.757813-15.945312 25.253906-37.585937 25.253906-64.324219-.003906-10.316406-.351562-20.492187-1.035156-30.242187zm0 0"
            />
          </svg>

          <span class="mx-4">Users</span>
        </router-link>
      </nav>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useSidebar } from "../hooks/useSidebar";

export default defineComponent({
  setup() {
    const { isOpen } = useSidebar();
    const activeClass = ref(
      "bg-gray-600 bg-opacity-25 text-gray-100 border-gray-100"
    );
    const inactiveClass = ref(
      "border-gray-900 text-gray-500 hover:bg-gray-600 hover:bg-opacity-25 hover:text-gray-100"
    );

    return {
      isOpen,
      activeClass,
      inactiveClass,
    };
  },
});
</script>
